#new{
    /* margin-top: 5em; */
    /* margin-left: 25em; */
    font-size: 20px;
    padding-top: 8px;
    text-align: center;
    /*border:1px solid blue;*/ 
}

fieldset{
    margin-top: 5em; 
    margin-left: 20em;
    margin-right: 20em;
    padding: 20px;
    text-align: center; 
}

input{
    margin: 1em;
    align-self: auto;
    margin-left: 10px;
}

button{
    background-color: rgb(255, 123, 0);
    color: white;
}
