.in
{
font-family: "sans-serif";
border : 1px solid black;
font-size: 18px;
margin:1em;
}
#bu
{
    color:white;
    background-color:blue;
    margin-left:10em;
    padding:10px;
}
div{
    margin-top:10em;
    margin-left:20em;
    padding-right:350px;
}
.out
{
font-family:"italic";
color:green;
}