input {
    font-size: 10x;
    padding : 8px;
    margin-left: 10px;
}
button {
    background-color: blue;
    color : white;
    padding : 8px;
    border-radius: 8px;
    
}
h5 {
    color : green;
    text-align : center;
    font-size: 15px;
}