<!-- <p>ng-model-demo works!</p> -->

<div id="Blog">

        <label>Name: </label> <input type="text" [(ngModel)]="Name" placeholder="Enter Name"/> <br>

        <label>Enter Your Message: </label> <br> <textarea type="text" rows="5" cols="33"  [(ngModel)]="Message" > </textarea> <br><br>

        <button onclick="alert('Received your Message..!')" (click)="BlogText(Name,Message)">Submit</button>

        <p [style.color]="prop" > Hello {{Name}}, </p> <!--  <p [ngStyle]="prop" > Hello {{Name}}, </p> -->

        <p> {{Message}} </p>

</div>
