    
<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>	
</head>
<body>
	<br><br><br>
	<div>
	<table>
	<tr>
	<td><img src="/assets/travel.gif" width=120 height=120></td>
	<td><br><h1>DBS OMEGA</h1>
	 <h1><pre>Relax...You're with us! We make it simple;-)</pre></h1></td>
	</tr>
	</table>
	<br><br><br>
	<table width=400>
	<tr>
	<td colspan=2><pre id="para">
		        <b>DBS Omega</b> is India’s largest online bus ticketing
			platform that has transformed bus travel in the country
			by bringing ease and convenience to millions of Indians
			who travel using buses.Founded in 2000,DBS Omega is part
			of India’s leading online travel company.By providing 
			widest choice, superior customer service, lowest prices
			and unmatched benefits,DBS omega has served over 8 million
			customers.DBS omega has a global presence with operations
			across Indonesia,Singapore,Malaysia,Taiwan apart from India.</pre></td>
	<!-- <td colspan=2><pre>         <button type="button" class="but"   width=150px height=150px>login</button><br>
	 <button type="button" class="but"  width=150px height=150px>signup</button></pre></td> -->
	
	</tr>
	</table>
</div>

</body>
</html>

