body{
    background-image: url("/assets/bg8.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: transparent;
    }
   
    #para
    {
        font-size:18px;
    }
    .but
    {
        background-color:black;
        color:white;
        font-size:30px;

    }
    h1{
        text-align:center;
    }
    div{
        color: black;
    }