<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-welcome></app-welcome> -->
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a href="#" (click)="Home()" class="navbar-brand"><span class="glyphicon glyphicon-road"></span> DBS OMEGA</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><button class="t" (click)="About()">Book Tickets</button></li>
					<li><button class="t">Contact</button></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
						<li><button class="t" (click)="Login()">Login</button></li>
					<li><button class="t" (click)="Register()">Signup</button></li>
					<li><button class="t" (click)="Track()">Track</button></li>
					<li><button class="t"(click)="Food()">Order Food</button></li>
				</ul>
			</div>
		</div>
    </nav>
    <ul [ngSwitch]="check" style="list-style:none">
            <li *ngSwitchCase="'login'">
                    <app-login></app-login>
            </li>
            <li *ngSwitchCase ="'register'">
                    <app-register></app-register>
            </li>
            <li *ngSwitchCase ="'about'">
                    <app-main></app-main>
			</li>
			<li *ngSwitchCase ="'track'">
				<app-tracking></app-tracking>
			</li>
			<li *ngSwitchCase ="'home'">
					<app-welcome></app-welcome>
			</li>
            <li *ngSwitchCase ="'food'">
                    <app-food></app-food>
            </li>
    </ul>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- <app-main></app-main> -->