<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" > -->
<br><br><br>
<form ngNativeValidate>
    <span>Enter Item</span> <input type="text" [(ngModel)]="Item" 
    placeholder="Enter Items" name="items" required>
    <br><br>
    <button onclick="alert('Getting items..........')" 
    (click)="Food(Item)">
    Get it</button> 
    <br><br>
    <div *ngIf="status==true;">
     <table class="table" > <!--background="assets/pizz.gif">-->
     <thead>
      <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Action</td>
      </tr>
     </thead>
     <tbody>
      <tr *ngFor="let p of items,let index=i"> <!--for every item in object items, create a table row-->
        <td>{{p.name }}</td> <!--Write it's name in a column--> 
        <td>${{p.price}}</td> <!--Write it's price in a column--> 
        <td>
          <button class="btn btn-secondary"
          (click)="addToCart()">
           Add to cart
          </button>
        </td>
      </tr> 
     </tbody>
    </table>
    
 </div>
</form>
<div class="row">
    <div class="col-sm-4" style="background-color:white;">

<div class="card" style="width: 18rem;">
    <img src="assets/pil.gif" class="card-img-top" alt="Loading...">
    <div class="card-body">
      <p class="card-text"><b>A slice a day keeps the sad away.</b>
        </p>
    </div>
  </div>
  </div>
  <div class="col-sm-4" style="background-color:white;">
  <div class="card" style="width: 18rem;">
      <img src="assets/burger.gif" class="card-img-top" alt="Loading...">
      <div class="card-body">
        <p class="card-text"><b>  Life is too short to miss out on beautiful things like a double cheeseburger.</b></p>
      </div>
    </div>
    </div>

<div class="col-sm-4" style="background-color:white;">
  
    <div class="card" style="width: 18rem;">
        <img src="assets/biryani2.gif" class="card-img-top" alt="Loading...">
        <div class="card-body">
          <p class="card-text"><b>Keep Calm and add Dum to your Biryani</b></p>
        </div>
      </div>
      
      
  </div>